
@{
    ViewBag.Title = "Игра";
}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">



	<title>@ViewBag.Title</title>
</head>
<body>
	
	<h2>Предлагаем сыграть в игру</h2>
	<br />
	<div>В этой игре нужно угадать, под каким шариком находится тарелка.</div>
	<div>Угадаете - получите скидку <strong>5%</strong> при заказе на сумму от 500 грн.</div>
	<div>Достаточно перейти по ссылке и попытать свою удачу.</div>
	<div>Если угадаете, где тарелка — получите код, который нужно будет отправить менеджеру, оформляя заказ.</div>
	<br />
	<div><i>Рискнете?</i></div>
	<a href="~/Game/Game.html">Играть</a>
</body>
</html>






