@{
    ViewBag.Title = "О нас";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<div class="navbar-right visible-xs">
	<a href=@Url.Action("About", "Home", new { returnUrl = Request.Url.PathAndQuery}) class="btn btn-default navbar-btn"></a>
	<span class="glyphicon glyphicon-shopping-cart"></span>
</div>

<h2>Частное Предприятие Фокси</h2>
<h4>Год основания – 2003</h4>

<p> Основные виды деятельности:</p>

<p> 
	Импорт ресторанного фарфора фабрик «LUBIANA», «KAROLINA», «CHODZIEZ», «KRZYSZTOF» Польша, «COSTA-VERDE» Португалия. 
</p>
<p>
	Импорт керамической посуды «каменная масса» фабрики «BOLESLAWIEC» Польша.
</p>
<p>
	Импорт столовых приборов и изделий из металла «ETERNUM» Бельгия.
</p>
<p>
	Дилеры завода столовых приборов «STEELAY» Украина. (Столовые приборы, фуршет)
</p>
<p>
	Продажа барного и сервировочного стекла «LUMINARC» , «ARCOROC» Франция, «PASABAHCE» Турция, Россия
</p>
<p>
	Продажа контейнеров для хранения продуктов от 0,3 л до 80л «PLAST TEAM» Польша.
</p>
<p>
	Продажа барных аксессуаров «CO-RECT» США
</p>
<p>
	Продажа поварских разделочных ножей, кухонных досок «STALGAST», «HENDI»  Польша
</p>
<p>
	Продажа стеклянной посуды Бережанского стекольного завода Украина
</p>
<p>
	Формируем дилерскую сеть. Предлагаем фирмам по продаже ресторанной посуды –особые условия.
</p>
<p>
	Существует гибкая система скидок, доставка по городу Киеву, в регионы Украины по желанию заказчика отправляем транспортными перевозчиками.
</p>
<p>
	Мы всегда будем рады, если к числу наших бизнес партнеров , присоединитесь и ВЫ.
</p>
<p>
	Доставка заказа производится от суммы заказа свыше 1000,00 грн. Если ваш заказ меньше указанной суммы, вы можете его получить на нашем складе.
</p>