
@{
    ViewBag.Title = "Об авторе";
}

<h2>Интернет-магазин посуды</h2>
<p> Данный веб-сайт создан в рамках курсового проекта по дисциплине "Программирование".</p>
<p> 
	<h4>Автор</h4> — Петрова Марина, студентка II курса группы ИК-62 ФИВТ.
</p>
<p> Цель разработки продукта - оптимизация процесса покупки и продажи.</p>
<p> В проекте предусмотрена возможность авторизации и аутентификации, управления корзиной, администрирования.</p>